* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
}

header nav {
  text-align: center;
  overflow: hidden;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

header nav ul li {
  /* display: inline; */
  /* padding-right: 20px; */
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

/* header nav ul li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

header nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

main {
  text-align: center;
}

main h1 {
  margin: 10px 0px;
}

main .image-container img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin: 0px 5px;
}

main .image-container img:hover {
  scale: 1.1;
}

main .description {
  width: 500px;
  margin: 0 auto;
}

main .description h3,
main .description h4,
main .description p {
  margin-bottom: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

main .search-bar input {
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #c7c7c7;
  /* width: 500px;
  height: 35px; */
}

main .search-bar button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  font-weight: 500;
  /* display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 10px; */
}

main .search-bar button:hover {
  /* background-color: #555555; */
  background-color: #c9c9c9;
}

.button:active {
  background-color: #999;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  text-align: center;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
}
